{% extends 'layouts/home.html' %}
{% block title %}{{ profile.name }} - @{{ profile.username }} | PixelPark {% endblock %}
{% block modal %}
<!-- Modal for follows/following -->
<div class="modal modal-follow" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg h-50" role="document">
    <div class="modal-content h-100">
      <div class="modal-header">
        <h5 class="modal-title-follow modal-title">Username</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body-follow modal-body" style="overflow-y: scroll;">

      </div>
    </div>
  </div>
</div>

<!-- end modal -->

<!-- Modal for post-->
<div class="modal modal-post" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none;" >
        <!-- <h5 class="modal-title"><a href="#">Username</a></h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body post-body">

      </div>
    </div>
  </div>
</div>
<!-- modal end -->

{% endblock %}

{% block content %}
	<div class="row w-100 h-100">

        <div class="col-xl-12 col-xs-12 fe01-content">

            <div class="row m-0 px-0 py-3">
                <div class="col-md-12 px-5 w-100 pb-4 img-card">
                    <div class="profile-top mx-5 ">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="h-100 d-flex pl-2 align-items-center">
                                    {% if request.session.user == profile.id %}
                                    <img title="Click to change the profile image" id="profile-post-image" class="rounded-circle icon-image-profile-main" src="/static/images/{{ profile.image }}">
                                    <form id="profile-image-form" action="/profile/image-update/{{ profile.id }}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input id="profile-image-input" type="file" name="image" hidden>
                                    </form>
                                    {% else %}
                                    <img title="{{ profile.name }}" class="rounded-circle icon-image-profile-main" src="/static/images/{{ profile.image }}">

                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-6">
                                <div class="h-100 d-flex pl-2 align-items-center">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="profile-username">{{ profile.username }}</span>
                                        </div>
                                        <div class="col-md-12">
                                            {% if profile.id is user.id %}
                                            <a href="/logout" class="d-xl-none d-block">
                                                <span class="btn btn-dark">Logout</span>
                                            </a>
                                                <a href="/profile/{{ user.id }}/edit">
                                                    <span class="btn btn-light"><i class="fa fa-user-cog"></i>&nbsp;&nbsp;Edit</span>
                                                </a>
                                            {% else %}
                                                {% if profile.id in follower_list %}
                                                <form method="post" action="/profile/unfollow">
                                                    {% csrf_token %}
                                                    <input type="text" hidden name="profile_id" value="{{ profile.id }}">
                                                    <button type="submit" class="follow-button btn btn-secondary">Unfollow</button></a>
                                                </form>
                                                {% else %}
                                                <form method="post" action="/profile/follow">
                                                    {% csrf_token %}
                                                    <input type="text" hidden name="profile_id" value="{{ profile.id }}">
                                                    <button type="submit" class="follow-button btn btn-primary">Follow</button></a>
                                                </form>
                                                {% endif %}
                                            {% endif %}

                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <span class="profile-count text text-secondary">{{ profile.post_set.count }}</span> <span class="profile-text">posts</span>
                                                </div>
                                                <div class="col-md-4">
                                                    <a href="#" data-id="{{ profile.id }}" class="text text-secondary a-link-modal" id="follower-link" data-action='follower'><span class="profile-count">{{ follower_count }}</span> <span class="profile-text" >follower</span></a>
                                                </div>
                                                <div class="col-md-4">
                                                    <a href="#" data-id="{{ profile.id }}" class="text text-secondary a-link-modal" id="following-link" data-action='following'><span class="profile-count">{{ following_count }}</span> <span class="profile-text">following</span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <span class="profile-name">{{ profile.name }}</span>
                                        </div>
                                        <div class="col-md-12">
                                            <span class="profile-text">{{ profile.description }}</span>
                                        </div>
                                        {% if user.social_link %}
                                        <div class="col-md-12">
                                            <span class="profile-text"><a target="_blank" href="{{ user.social_link }}">{{ user.social_link }}</a></span>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row m-0 px-0 py-3 mx-5 image-profile-card">
                <!-- image start -->
                {% for i in profile.post_set.all reversed %}
                <div class="col-lg-4 col-md-12 w-100 pb-4">
                    <div class="bg-white rounded img-post-profile">
                        <div class="col-md-12 p-0 w-100 image-slide" style="height: auto">
                            <div class="carousel slide carousel-fade w-100 c-1 " data-ride="carousel" data-interval="false">
                                <div class="carousel-inner w-100">
                                    <div class="carousel-item w-100 active image-post-profile-parent">
                                        <img title="{{ i.caption }}" data-id="{{ i.id }}" class="img-fluid image-post-profile w-100" src="/static/images/{{ i.photo_set.first.photo }}" alt="First slide">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- images end here -->
                {% empty %}
                <div class="col-lg-12 text-center"><label>No post available</label></div>
                {% endfor %}

            </div>
        </div>


    </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
		$('.carousel').carousel()
	</script>
	<script type="text/javascript">
		$('.comment-icon').on('click',function (e){
			e.preventDefault();
			var id=$(this).attr('data-id');
			$('.post-1'+id).focus();
		});



		$('.image-post-profile').on('click',function(){
		    var id=$(this).attr('data-id')
		    $.ajax({
		        url: '/profile/post/'+id,
		        dataType: 'JSON',
		        type: 'GET',
		        success:function(data){
                    $('.modal-body-render').html(data.html)

                    $('.modal-render .modal-title').html('')
                    $('.modal-render .modal-dialog').removeClass('modal-lg').addClass('modal-xl').removeClass('h-50');
                    $('.modal-render .modal-content').removeClass('overflow-auto').removeClass('h-100')
                    $('.modal-render').modal('show');
                }
		    });
		});
        $('#follower-link').on('click',function(e){
            e.preventDefault();
            var id=$(this).data('id');
            $.ajax({
                url:'/profile/follower/'+id,
                dataType:'JSON',
                type:'GET',
                success:function(data){
                    console.log(data)
                    $('.modal-body-render').html(data.html)
                    $('.modal-render .modal-title').html('Follower')
                    $('.modal-render .modal-dialog').removeClass('modal-xl').addClass('modal-lg').addClass('h-50');
                    $('.modal-render .modal-content').addClass('overflow-auto').addClass('h-100')
                    $('.modal-render').modal('show');

                }
            })
        })

        $('#following-link').on('click',function(e){
            e.preventDefault();
            var id=$(this).data('id');
            $.ajax({
                url:'/profile/following/'+id,
                dataType:'JSON',
                type:'GET',
                success:function(data){
                    console.log(data)
                    $('.modal-body-render').html(data.html)
                    $('.modal-render .modal-title').html('Following')
                    $('.modal-render .modal-dialog').removeClass('modal-xl').addClass('modal-lg').addClass('h-50');
                    $('.modal-render .modal-content').addClass('overflow-auto').addClass('h-100')
                    $('.modal-render').modal('show');

                }
            })
        })
<!--		$('.a-link-modal').on('click',function(e){-->
<!--			e.preventDefault();-->
<!--			var action=$(this).attr('data-action');-->
<!--			if(action=='follower'){-->

<!--			}else if(action='following'){-->

<!--				$('.modal-title-follow').html('Following');-->

<!--				// follow render here-->
<!--				$('.modal-body-follow').html(`-->
<!--					<div class="col-md-12">-->
<!--							<div class="row my-2" style="height: 50px;">-->
<!--								<div class="col-md-8 align-items-center d-flex">-->
<!--									<div class="rounded float-left icon-image">-->
<!--										<img src="assets/img/user (1).jpg" class="rounded-circle icon-image">-->
<!--									</div>-->
<!--									<div class="pl-2 h-100 float-left d-flex align-items-center">-->
<!--										<span class="d-block"><a href="#">Eric Cartman</a></span>-->
<!--									</div>-->
<!--								</div>-->
<!--								<div class="col-md-4 align-items-center d-flex justify-content-end follow-button">-->
<!--									<a href="#" class=""><button class="btn btn-primary">Follow</button></a>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="row my-2" style="height: 50px;">-->
<!--								<div class="col-md-8 align-items-center d-flex">-->
<!--									<div class="rounded float-left icon-image">-->
<!--										<img src="assets/img/user (2).jpg" class="rounded-circle icon-image">-->
<!--									</div>-->
<!--									<div class="pl-2 h-100 float-left d-flex align-items-center">-->
<!--										<span class="d-block"><a href="#">Stan Marsh</a></span>-->
<!--									</div>-->
<!--								</div>-->
<!--								<div class="col-md-4 align-items-center d-flex justify-content-end follow-button">-->
<!--									<a href="#" class=""><button class="btn btn-primary">Follow</button></a>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="row my-2" style="height: 50px;">-->
<!--								<div class="col-md-8 align-items-center d-flex">-->
<!--									<div class="rounded float-left icon-image">-->
<!--										<img src="assets/img/user (3).jpg" class="rounded-circle icon-image">-->
<!--									</div>-->
<!--									<div class="pl-2 h-100 float-left d-flex align-items-center">-->
<!--										<span class="d-block"><a href="#">Butter Scotch</a></span>-->
<!--									</div>-->
<!--								</div>-->
<!--								<div class="col-md-4 align-items-center d-flex justify-content-end follow-button">-->
<!--									<a href="#" class=""><button class="btn btn-primary">Follow</button></a>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="row my-2" style="height: 50px;">-->
<!--								<div class="col-md-8 align-items-center d-flex">-->
<!--									<div class="rounded float-left icon-image">-->
<!--										<img src="assets/img/user (4).jpg" class="rounded-circle icon-image">-->
<!--									</div>-->
<!--									<div class="pl-2 h-100 float-left d-flex align-items-center">-->
<!--										<span class="d-block"><a href="#">Kyle</a></span>-->
<!--									</div>-->
<!--								</div>-->
<!--								<div class="col-md-4 align-items-center d-flex justify-content-end follow-button">-->
<!--									<a href="#" class=""><button class="btn btn-primary">Follow</button></a>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="row my-2" style="height: 50px;">-->
<!--								<div class="col-md-8 align-items-center d-flex">-->
<!--									<div class="rounded float-left icon-image">-->
<!--										<img src="assets/img/user (5).jpg" class="rounded-circle icon-image">-->
<!--									</div>-->
<!--									<div class="pl-2 h-100 float-left d-flex align-items-center">-->
<!--										<span class="d-block"><a href="#">Rick Sanchez</a></span>-->
<!--									</div>-->
<!--								</div>-->
<!--								<div class="col-md-4 align-items-center d-flex justify-content-end follow-button">-->
<!--									<a href="#" class=""><button class="btn btn-primary">Follow</button></a>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="row my-2" style="height: 50px;">-->
<!--								<div class="col-md-8 align-items-center d-flex">-->
<!--									<div class="rounded float-left icon-image">-->
<!--										<img src="assets/img/user (5).jpg" class="rounded-circle icon-image">-->
<!--									</div>-->
<!--									<div class="pl-2 h-100 float-left d-flex align-items-center">-->
<!--										<span class="d-block"><a href="#">Rick Sanchez</a></span>-->
<!--									</div>-->
<!--								</div>-->
<!--								<div class="col-md-4 align-items-center d-flex justify-content-end follow-button">-->
<!--									<a href="#" class=""><button class="btn btn-primary">Follow</button></a>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="row my-2" style="height: 50px;">-->
<!--								<div class="col-md-8 align-items-center d-flex">-->
<!--									<div class="rounded float-left icon-image">-->
<!--										<img src="assets/img/user (5).jpg" class="rounded-circle icon-image">-->
<!--									</div>-->
<!--									<div class="pl-2 h-100 float-left d-flex align-items-center">-->
<!--										<span class="d-block"><a href="#">Rick Sanchez</a></span>-->
<!--									</div>-->
<!--								</div>-->
<!--								<div class="col-md-4 align-items-center d-flex justify-content-end follow-button">-->
<!--									<a href="#" class=""><button class="btn btn-primary">Follow</button></a>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="row my-2" style="height: 50px;">-->
<!--								<div class="col-md-8 align-items-center d-flex">-->
<!--									<div class="rounded float-left icon-image">-->
<!--										<img src="assets/img/user (5).jpg" class="rounded-circle icon-image">-->
<!--									</div>-->
<!--									<div class="pl-2 h-100 float-left d-flex align-items-center">-->
<!--										<span class="d-block"><a href="#">Rick Sanchez</a></span>-->
<!--									</div>-->
<!--								</div>-->
<!--								<div class="col-md-4 align-items-center d-flex justify-content-end follow-button">-->
<!--									<a href="#" class=""><button class="btn btn-primary">Follow</button></a>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="row my-2" style="height: 50px;">-->
<!--								<div class="col-md-8 align-items-center d-flex">-->
<!--									<div class="rounded float-left icon-image">-->
<!--										<img src="assets/img/user (5).jpg" class="rounded-circle icon-image">-->
<!--									</div>-->
<!--									<div class="pl-2 h-100 float-left d-flex align-items-center">-->
<!--										<span class="d-block"><a href="#">Rick Sanchez</a></span>-->
<!--									</div>-->
<!--								</div>-->
<!--								<div class="col-md-4 align-items-center d-flex justify-content-end follow-button">-->
<!--									<a href="#" class=""><button class="btn btn-primary">Follow</button></a>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="row my-2" style="height: 50px;">-->
<!--								<div class="col-md-8 align-items-center d-flex">-->
<!--									<div class="rounded float-left icon-image">-->
<!--										<img src="assets/img/user (5).jpg" class="rounded-circle icon-image">-->
<!--									</div>-->
<!--									<div class="pl-2 h-100 float-left d-flex align-items-center">-->
<!--										<span class="d-block"><a href="#">Rick Sanchez</a></span>-->
<!--									</div>-->
<!--								</div>-->
<!--								<div class="col-md-4 align-items-center d-flex justify-content-end follow-button">-->
<!--									<a href="#" class=""><button class="btn btn-primary">Follow</button></a>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="row my-2" style="height: 50px;">-->
<!--								<div class="col-md-8 align-items-center d-flex">-->
<!--									<div class="rounded float-left icon-image">-->
<!--										<img src="assets/img/user (5).jpg" class="rounded-circle icon-image">-->
<!--									</div>-->
<!--									<div class="pl-2 h-100 float-left d-flex align-items-center">-->
<!--										<span class="d-block"><a href="#">Rick Sanchez</a></span>-->
<!--									</div>-->
<!--								</div>-->
<!--								<div class="col-md-4 align-items-center d-flex justify-content-end follow-button">-->
<!--									<a href="#" class=""><button class="btn btn-primary">Follow</button></a>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					`);-->
<!--			}else{-->

<!--				$('.modal-title-follow').html('');-->
<!--				$('.modal-body-follow').html('');-->
<!--			}-->

<!--			$('.modal-follow').modal('show');-->
<!--		});-->

        $('#profile-post-image').on('click',function(e){
            $('#profile-image-input').click();
        })
        $('#profile-image-input').on('change',function(e){
            $('#profile-image-form').submit();
        })
	</script>
{% endblock %}