{% extends "layouts/admin-layout.html" %}
{% block users %}active{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

 <!-- Page Heading -->

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-2 text-gray-800">User</h1>
  </div>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Edit Password of <strong>{{ users.name }}</strong></h6>
    </div>
    <div class="card-body">
      <form action="/admin/users/update-password/{{ users.id }}" method="post" >
      {%csrf_token %}
          <div class="form-group">
              <input type="password" name="password" class="form-control" placeholder="Enter new password">
          </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary ">
            Submit
            </button>
            <a href="/admin/users"><button type="button" class="btn btn-warning ">
            Back
            </button>
            </a>
        </div>

      </form>


    </div>
  </div>

{% endblock %}